.contact-dark-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-dark-contact-dark {
  width: 100%;
  height: 2496px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact-dark-contact-dark1 {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 2496px;
  position: absolute;
}
